<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learing Model Deployment</title>
    <h1>Target Store Sales Presiction</h1>
</head>
<body>
    <form action="/predict", method="post">
        <div>
            <label for="feature1"> Store Size : </label>
            <input type="text" step=".02" id="feature1" name="feature1">
        </div><br>
        <div>
            <label for="feature2"> Store : </label>
            <input type="text" step=".02" id="feature2" name="feature2">
        </div><br>
        <div>
            <label for="feature3"> CPI : </label>
            <input type="text" step=".02" id="feature3" name="feature3">
        </div><br>
        <div>
            <label for="feature4"> MarkDown3 :</label>
            <input type="text" step=".02" id="feature4" name="feature4">
        </div><br>
        <div>
            <label for="feature5"> Unemployment Rate :</label>
            <input type="text" step=".02" id="feature5" name="feature5">
        </div><br>
        <input type="submit" value="predict">
    </form>
    <h2>
        {{ prediction_text }}
    </h2>
</body>
</html>